/* --------------------------------------------------------
Contribute-4-better-world Landing Page

author: PREETHI G
website: https://preethi4848.github.io/Contribute-4-Better-World/
----------------------------------------------------------*/

.BgClass {
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: white;
}

.TextClass {
    color: black;
    top: 50%;
    left: 42%;
}

.Text {
    text-align: center;
}

.AuthorClass {
    display: flex;
    flex-direction: column;
    top: 86%;
    left: 28%;
}

.Author {
    font-weight: bolder;
    font-size: 12px;
    font-family: 'Petit Formal Script', cursive;
    color: black;
}

.Network {
    display: flex;
    flex-direction: row;
}

.Network>a>img {
    width: 50px;
    height: 50px;
}
